.Navbar{
    background-color:#0B1024;
text-decoration-color: aliceblue;
}


.title-section{
    font-size: 3rem;
}
.hero-section{
    margin-top: 4rem;
}
.picture{
    width: 20%;
    height: 5%;
    border-radius: 70;
}
.pr-section{
 margin-left: 10%;
}
.contact-section{
    margin-left: 10%;
margin-top: 5srem;
}